.navbar {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 60px;
}

.item a {
  background-color: transparent;
  color: var(--seasalt);
  border: 1px solid var(--seasalt);
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
}

.item.active a {
  background-color: var(--seasalt);
  outline: 1px solid var(--seasalt);
  color: var(--onyx);
  outline-offset: 4px;
  animation: active-link-animation 8s infinite alternate;
}

@keyframes active-link-animation {
  0% {
    background-color: transparent;
    color: var(--seasalt);
  }
  100% {
    background-color: var(--seasalt);
    color: var(--eerie-black);
  }
}

@media (hover: hover) {
  .item a:hover {
    background-color: var(--seasalt) !important;
    color: var(--eerie-black) !important;
    box-shadow: 5px 5px 15px var(--slate-gray), -5px -5px 15px var(--slate-gray);
    transition: ease-in-out 0.3s;
  }
}
